<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.store.dao.CartDao">
	<select id="CartListDao" resultType="com.store.dto.CartListDto">
		select c.cart_id, c.pd_size, p.pd_name, p.pd_price, p.pd_id, p.pd_color, p.pd_price, p.pd_img from cart c join products p on c.pd_id=p.pd_id where c.email=#{email} order by cart_id desc;
	</select>

	<insert id="addCartDao" parameterType="hashMap">
		insert into cart (email,pd_id,pd_size) values (#{email}, #{pd_id}, #{pd_size});
	</insert>
	
	<delete id="deleteCartDao">
		delete from cart where cart_id=#{cart_id};
	</delete>
	
	<update id="updateCartSizeDao">
		update cart set pd_size=#{pd_size} where cart_id=#{cart_id};
	</update>
	
	<update id="updateCartQuantityDao">
		update cart set pd_quantity=#{pd_quantity} where cart_id=#{cart_id}; 
	</update>
</mapper>